.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

#finalJSON {
    float: left;
    margin-top: 30px;
    width: 45%;
    height: 600px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
}

label{
    margin-left: 5px;
}

.tag-label{
    font-weight: normal;
}

#pete{
    height: 30px;
    width: 30px;
}

h3 {
    color: #cd516e ;
    font-weight: bold;
}

.tag-group {
    border: 3px solid #85C5D7 ; 
    padding: 0 20px 20px 20px;
    margin-bottom: 10px;
}

body {
    font-family: "Source Sans Pro",Tahoma,Geneva,sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #596273 ;
}

#getGroups {
    color: #ffffff ;
    background: #85C5D7 ;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(134, 197, 215);
    letter-spacing: 1px;
    font-weight: 400;
    padding: 9px 19px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
}

#getGroups:hover {
 color: #fff;
    background: #fa7069 ;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(250, 112, 105);
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

#finalJSON{
    border: 3px solid #B1DDC6 ;    
    margin-top: 0;
}

.navbar-brand {
    position: absolute;
    top: -8px;
}

#dase-logo{
    width: 55px;
    height: 55px;
}

input[type=text]{
    width: 100%;
}